<h1 class="text-center p-3">Lista de posts</h1>
<div class="text-center pb-3">
    <button type="button" class="btn btn-success" onclick="window.location.href = '/cad';"><i class="far fa-edit"
            style="margin-right: 7px;"></i>Novo Post</button>
</div>

<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Conteúdo</th>
            <th scope="col">Data</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{titulo}}</td>
            <td>{{conteudo}}</td>
            <td>{{createdAt}}</td>
            <td>
                <button type="button" class="btn btn-success" onclick="window.location.href = '/alterar/{{id}}';"><i
                        class="far fa-edit"></i></button>
                <button type="button" class="btn btn-danger" onclick="window.location.href = '/deletar/{{id}}';"><i
                        class="far fa-trash-alt"></i></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>